@font-face
{
	font-family: RACER;
	src: url(../fonts/RACER.TTF);
}
*{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:RACER,HYYR,Verdana,Sans-serif;
}
a:link 	  {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover   {text-decoration: none;}
a:active  {text-decoration: none;}
main {
	flex: 1;
}
.attachment {
	position: relative;
	font-size: 20px;
	font-family: Verdana;
	right: 0;
	transition:all 0.35s ease-in-out;
}
#part_1 {
	background:#655;
	background-image:  radial-gradient(tan 30%,transparent 0),
					   radial-gradient(tan 30%,transparent 0);
	background-size:200px 200px;
	background-position: 0 0,100px 100px;
	width: 100%;
	height:auto;
}
@media screen and (max-width: 768px) {
	#part_1 {
	background:#655;
	background-image:  radial-gradient(tan 30%,transparent 0),
					   radial-gradient(tan 30%,transparent 0);
	background-size:50px 50px;
	background-position: 0 0,25px 25px;
	width: 100%;
	height:auto;
	}
}
@media screen and (max-width: 768px) {
	.part_header span{
	transition: all 0.5s;
	margin-top: 20%;
	color:tan;
	font-size:48px;
	}
}
#part_2 {
	align-items: center;
	background:tan;
	background-image:  linear-gradient(45deg,#655 25%,transparent 0,transparent 75%,#655 0),
					   linear-gradient(45deg,#655 25%,transparent 0,transparent 75%,#655 0);
	background-size: 200px 200px;
	background-position:0 0,100px 100px;
	width: 100%;
	height:auto;
}
@media screen and (max-width: 768px) {
	#part_2 {
	align-items: center;
	background:tan;
	background-image:  linear-gradient(45deg,#655 25%,transparent 0,transparent 75%,#655 0),
					   linear-gradient(45deg,#655 25%,transparent 0,transparent 75%,#655 0);
	background-size: 50px 50px;
	background-position:0 0,25px 25px;
	width: 100%;
	height:auto;
	}
}
#part_mid {
	float: left;
	background: #655;
	box-shadow: 0px 5px 5px -5px black,
				5px 0px 5px 5px black;
	width: 100%;
	height: 10vh;
}
.jumbotron {
	min-height: 100vh;
	height: 100%;
	margin-bottom: 0;
	background: rgba(102,85,85,0.8);
	color:white;
}

.container img{
	margin-top: 5%;
	border:5px solid white;
}
@media screen and (max-width: 768px) {
	.container img{
	margin-top: 10%;
	border:2.5px solid white;
	width: 64px;
	height: 64px;
	}
}
.well{
	display: none;
}
.rows{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.rows_divs{
	text-align: center;
	float: left;
	color:rgba(255,255,255,0.8);
	font-size: 20px;
}
.rows_contents::before{
	content: '';
	position: absolute;
	top: 0; right: 0;
	width: 1.73em; height: 3em;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.1) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
	transform: translateY(-1.3em) rotate(-30deg);
	transform-origin: bottom right;
	border-bottom-left-radius: 15px;
	box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15)
}
.rows_contents {
	text-align: justify;
	padding: 30px;
	position: relative;
	margin-top: 20px;
	border-radius: 15px;
	height: 200px;
	width: 100%;
	background: linear-gradient(-150deg, transparent 1.5em, rgba(255,255,255,0.2) 0);
	color:white;
}
.rows_contents p {
	font-size: 18px;
}
.rows_title_dad{
	text-align: center;
	margin-top: 20px;
}
.rows_title{
	display:block;
	color:#655;
	border-radius: 20px;
	font-size: 32px;
	padding: 15px 30px;
	background: linear-gradient(90deg,transparent 0,rgba(255,255,255,0.5) 50%,transparent 100%);

}
.rows_buttons {
	text-decoration:none;
	margin-top: 20px;
	display: inline-block;
	border-radius:15px;
	color:white;
	font-size:24px;
	padding:16px;
	background:rgba(173,255,47,0.5);
	transition:all 0.35s ease-in-out;
}
.rows_buttons:visited{
	text-decoration:none;
	color:white;
}
.rows_buttons:hover{
	text-decoration:none;
	border-radius:0px;
	background:white;
	color:yellowgreen;
}
.rows_buttons:hover span{
	right: -10px;
}
@media screen and (max-width: 768px) {
	.well::before{
	content: '';
	position: absolute;
	top: 0; right: 0;
	width: 1.73em; height: 3em;
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.1) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
	transform: translateY(-1.3em) rotate(-30deg);
	transform-origin: bottom right;
	border-bottom-left-radius: 15px;
	box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15)
	}
	.well{
		position: relative;
		border:none;
		color:white;
		float: none;
		margin-bottom: 2.5%;
		display:block;
		background: linear-gradient(-150deg, transparent 1.5em, rgba(255,255,255,0.2) 0);
		font-size: 16px;
	}
	.well:hover{
		color: #655;
		text-shadow: 0 0 0.1em,0 0 0.3em;
		background: linear-gradient(-150deg, transparent 1.5em, rgba(255,255,255,0.4) 0);
		box-shadow: 0px 5px 5px -5px black;
	}
	.rows{
		display: none;
	}
	.rows_title{
		display: none;
	}
}
.underline{
	text-align: center;
	width:100%;
	height:2px;
	background: linear-gradient(90deg,transparent 0,rgba(210,180,140,0.8) 50%,transparent 100%);
}
.content_underline{
	margin-bottom: 10px;
	margin-top: -5px;
	height:2px;
	background: linear-gradient(90deg,transparent 0,rgba(210,180,140,0.8) 50%,transparent 100%);
}
.title_underline{
	width:100%;
	height:2px;
	background: linear-gradient(90deg,transparent 0,#655 50%,transparent 100%);
}
footer {
	text-align: center;
	display: block;
	margin-top: 40px;
}
.Page_end span {
	transition:all 0.35s ease-in-out;
	color:white;
	font-size: 60px;
}
.Page_end span:hover {
	color: pink;
	border-bottom: 1px solid white;
	border-image: linear-gradient(90deg,transparent 0,pink 50%,transparent 100%) 30 0;
	font-size: 60px;
}